.socials-containers {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    gap: 1.5rem;
}

.img {
    width: 90px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.icon {
    cursor: pointer;
    height: 2.5rem;
    width: 2rem;
}

.icon:hover {
    cursor: pointer;
}

.footer__title {
    text-align: center;
}